<div class="wrapper">
  <div class="title">
    <h1>#todo</h1>
  </div>
  <div class="filters">
    <div
      *ngFor="let filter of filters"
      [class]="{
        active: selectedFilter === filter.value
      }"
      (click)="selectFilter(filter.value)"
    >
      {{ filter.title }}
    </div>
  </div>
  <div class="create-todo">
    <div class="create-todo__input"></div>
    <div class="create-todo__btn">
      <app-a-btn
        [color]="'primary'"
        [size]="'md'"
        (clickBtn)="createNewTodo()"
      >
        Add
      </app-a-btn>
    </div>
  </div>
</div>
