<div class="wrapper">
  <div class="title">
    <h1>#todo</h1>
  </div>
  <div class="filters">
    <div
      *ngFor="let filter of filters"
      class="filters__item"
      [class]="{
        active: selectedFilter === filter.value
      }"
    >
      <span (click)="selectFilter(filter.value)">{{ filter.title }}</span>
      <span (click)="sortItems(selectedFilter === filter.value)">Sort
        <fa-icon *ngIf="sortDescIcon && selectedFilter === filter.value" [icon]="sortDescIcon"></fa-icon>
      </span>
    </div>
  </div>
</div>
