<div class="app-wrapper">
  <div class="todo-app">
    <app-app-bar
      [selectedFilter]="selectedFilter"
      (updateFilter)="updateFilter($event)"
      (sortTodos)="sortTodos($event)"
      ></app-app-bar>

    <app-create-todo *ngIf="!isCompletedFilter" (addTodo)="addNewTodo($event)"></app-create-todo>

    <app-todo-list
      [todos]="filteredTodos"
      [isCompletedFilter]="isCompletedFilter"
      (toggle)="toggleCompleted($event)"
      (deleteItem)="deleteItem($event)"
      (deleteAll)="deleteTodos()"
      ></app-todo-list>
  </div>

  <div class="footer">
    <span class="footer__sign">
      created by <span class="footer__username">
        <a href="https://devchallenges.io/portfolio/JamesHow1ett" target="_blank">Oleksandr Skorokhod</a>
      </span> - <span class="footer__link">
        <a href="http://devchallenges.io" target="_blank">devChallenges.io</a>
      </span>
    </span>
  </div>
</div>
